In [81]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [82]:
df = pd.read_csv('anime.csv')
df.head()

,course_id,name,genre,rating,members,user_id
0,1,Become a Data Scientist,"data,machine learning,deep learning,python",9,6,1
1,1,Become a Data Scientist,"data,machine learning,deep learning,python",10,6,2
2,1,Become a Data Scientist,"data,machine learning,deep learning,python",8,6,8
3,1,Become a Data Scientist,"data,machine learning,deep learning,python",10,6,7
4,1,Become a Data Scientist,"data,machine learning,deep learning,python",9,6,5

In [83]:
df.groupby('name')['rating'].count().sort_values(ascending=False).head(10)

name
Software Engineering                                    6
Introduction to c++                                     6
Become a Data Scientist                                 6
An Introduction to Interactive Programming in Python    6
Advanced Python                                         6
Introduction to Matlab                                  5
Deep Learning in Python                                 5
Name: rating, dtype: int64

In [84]:
ratings = pd.DataFrame(df.groupby('name')['rating'].mean())
ratings['num of ratings'] = pd.DataFrame(df.groupby('name')['rating'].count())

genre_dict = pd.DataFrame(data=df[['name','genre']])
genre_dict.set_index('name',inplace=True)

In [85]:
genre_dict=genre_dict.drop_duplicates()
genre_dict

                                                                                         genre
name
Become a Data Scientist                             data,machine learning,deep learning,python
An Introduction to Interactive Programming in P...                          programming,python
Deep Learning in Python                                       Programming,deep learning,python
Introduction to c++                                                            programming,c++
Introduction to Matlab                                                      programming,matlab
Software Engineering                                          programming,software,engineering

In [86]:
ratings.head()

                                                      rating  num of ratings
name
Advanced Python                                     8.666667               6
An Introduction to Interactive Programming in P...  9.000000               6
Become a Data Scientist                             8.833333               6
Deep Learning in Python                             7.800000               5
Introduction to Matlab                              8.000000               5

In [87]:
def check_genre(genre_list,string):
    if any(x in string for x in genre_list):
        return True
    else:
        return False
    
def get_recommendation(name):
    #generating list of anime with the same genre with target
    anime_genre = genre_dict.loc[name].values[0].split(',')
    cols = df[df['genre'].apply(
        lambda x: check_genre(anime_genre,str(x)))]['name'].tolist()
    
    #create matrix based on generated list
    animemat = df[df['name'].isin(cols)].pivot_table(
        index='user_id',columns='name',values='rating')
       
    #create correlation table
    anime_user_rating = animemat[name]
    similiar_anime = animemat.corrwith(anime_user_rating)
    corr_anime = pd.DataFrame(similiar_anime,columns=['correlation'])
    corr_anime = corr_anime.join(ratings['num of ratings'])
    corr_anime.dropna(inplace=True)
    corr_anime = corr_anime[corr_anime['num of ratings']>0].sort_values(
        'correlation',ascending=False)
    
    return corr_anime.head(10)
    #return anime_genre

In [88]:

get_recommendation('Introduction to c++')[1:]

                 correlation  num of ratings
name
Advanced Python    -0.174078               6